rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /characters/{charId} {
      allow read, write: if true;
    }
    match /skills/{skillId} {
      allow read, write: if true;
    }
    match /game_configs/{configId} {
      allow read, write: if true;
    }
    match /maps/{mapId} {
      allow read, write: if true;
    }
    match /scenarioMaps/{sectorId} {
      allow read, write: if true;
    }
    match /gameState/{docId} {
      allow read, write: if true;
    }
  }
}

